.header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.intro{
    color: #818181;
}

button{
    font-family: "Arial Black", serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
}

.login_button{
    border: none;
    color: #408cce;
    backgroud-color: white;
    margin: 10px;
}

.login_button:hover{
    cursor: pointer;
    background-color: #e4e4e4;
}

.join_button{
    border: none;
    color: white;
    background-color: #408cce;
    margin: 10px;
}

.join_button:hover{
    cursor: pointer;
    background-color: #6daee6;
}

.body{
    text-align: center;
}

.status_text_container{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

@keyframes blink {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.status_text_container h1 {
    animation: blink 1s infinite alternate;
}
